* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #fff;
  background-color: rgb(186, 73, 73);
  transition: background-color 200ms ease-in;
  height: 100vh;
}

header {
  max-width: 80%;
  margin: 30px auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #fff;
}

a:link {
  text-decoration: none;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-link {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px 16px;
  border-radius: 5px;
  transition: transform 250ms;
}

.nav-link:hover {
  transform: scale(1.05);
}

.nav-link:active {
  transform: translateY(5px);
}

/* Progress bar */

.progressbar-container {
  max-width: 80%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 30px auto;
}

.progressbar {
  width: 0%;
  height: 3px;
  background-color: #fff;
  overflow: hidden;
  transition: width 150ms ease-in;
}

/* POMODORO TIMER */

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.1);

  margin: 0 auto;
  border-radius: 5px;
  padding: 44px 0;
  margin-bottom: 120px;
}

.timer-btns-container {
  display: flex;
  gap: 24px;
}

button {
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
}

.btn-timer {
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  padding: 10px 28px;
  border-radius: 5px;
  transition-property: color, background-color, transform;
  transition-duration: 250ms;
}

.btn-timer:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-timer:active {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(10px);
}

.timer {
  font-family: "Roboto";
  font-size: 144px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-start {
  font-size: 24px;
  color: #333;
  background-color: #fff;
  padding: 10px 56px;
  border-radius: 3px;
  box-shadow: 0px 5px 0px rgba(255, 255, 255, 0.6);
  transition-property: box-shadow, transform;
  transition-duration: 100ms;
}

.btn-start:active {
  transform: translateY(5px);
  box-shadow: none;
}

footer {
  display: flex;
  justify-content: center;
  height: 80px;
}

.footer-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Added programmatically */

.btn-clicked {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.started {
  transform: translateY(5px);
  box-shadow: none;
}
